@model LoginViewModel

@{
    Layout = "~/Views/Access/AccessLayout.cshtml";
    ViewData["Title"] = "Login";
}

<h4>Welcome Back</h4>

<form asp-controller="Access" asp-action="Login" method="post">

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
     
    <div class="mt-4">
        <label>
            <input type="checkbox" asp-for="KeepLoggedIn" />
            Remember Me.
        </label>
    </div>
    
    
    <br />

    <div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">
            LOGIN
        </button>
    </div>
    

    @if (ViewData["ValidateMessage"] != null)
    {
        <label>@ViewData["ValidateMessage"]</label>
    }
</form>

