@model LoginViewModel

@{
    Layout = "~/Views/Access/AccessLayout.cshtml";
    ViewData["Title"] = "Login";
}

<h4>Welcome Back</h4>

<form asp-controller="Access" asp-action="Login" method="post">

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <div class="input-group">
            <input asp-for="Password" type="password" class="form-control" id="passwordInput" />
            <button type="button" class="btn btn-outline-secondary" onclick="togglePassword()">
                <i id="toggleIcon" class="fa fa-eye"></i>
            </button>
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
     
    <div class="mt-4">
        <label>
            <input type="checkbox" asp-for="KeepLoggedIn" />
            Remember Me.
        </label>
    </div>
    
    
    <br />

    <div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">
            LOGIN
        </button>
    </div>
    

    @if (ViewData["ValidateMessage"] != null)
    {
        <label>@ViewData["ValidateMessage"]</label>
    }
</form>

<script>
    function togglePassword() {
        var passwordInput = document.getElementById("passwordInput");
        var toggleIcon = document.getElementById("toggleIcon");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            toggleIcon.classList.remove("fa-eye");
            toggleIcon.classList.add("fa-eye-slash");
        } else {
            passwordInput.type = "password";
            toggleIcon.classList.remove("fa-eye-slash");
            toggleIcon.classList.add("fa-eye");
        }
    }
</script>

